<div class="center jumbotron">
  <h1>Welcome</h1>
  <h2>
    Home page for the
    <a href="http://www.railstutorial.org/">Rails tutorial</a>
    application.
  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails-logo.svg", height: '111', width: '111', alt: "Rails logo"),
            'http://rubyonrails.org/' %>